<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-900 bg-primary-200 debug-screens" data-user-status="<%= j(user_logged_in_status) %>" data-locale="<%= j(I18n.locale) %>">
    <%= render "shared/header" %>
    <main class="container mx-auto mt-14 px-6">
      <%= render "shared/impersonator" %>
      <%= render "shared/flash" %>

      <%= yield %>

      <%= render "shared/footer" %>
    </main>
  </body>
</html>
