<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="dark:bg-gray-900 bg-primary-200 debug-screens" data-user-status="<%= j(user_logged_in_status) %>" data-locale="<%= j(I18n.locale) %>">
    <div class="container mx-auto mt-14 px-6">
      <%= render "shared/impersonator" %>
      <%= render "shared/flash" %>
      <%= render "shared/header" %>
    </div>

    <main class="md:mt-10 -mt-8 pt-8">
      <div class="relative md:mb-44">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
