<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>

  <body class="py-0 px-12 my-0 mx-auto max-w-[1600px]">
    <div class="min-h-screen text-black break-words bg-white border-r border-solid cursor-default border-stone-500">
      <div>
        <header class="flex relative justify-between font-mono bg-gray-200 cursor-default text-neutral-700">
          <div class="py-0 px-4 font-mono break-words border-b border-l border-solid cursor-default border-stone-500 text-neutral-700 leading-[49px]">
            <%= link_to root_path, class: "font-mono hover:opacity-70 cursor-pointer no-underline leading-[49px]" do %>
              <%= image_tag "logo-lightmode.svg", class: "h-8 align-middle cursor-pointer fill-current pt-2" %>
            <% end %>
          </div>
          <div class="py-0 px-4 text-lg break-words border-b border-l border-solid cursor-default border-stone-500 text-neutral-700 font-mono leading-[49px]">💖</div>
          <div class="flex-1 py-0 px-6 border-b border-l border-solid border-stone-500 text-neutral-700"></div>
          <nav class="font-mono text-sm uppercase cursors-default text-neutral-700 z-[100] leading-[49px]">
            <button class="hidden py-0 px-6 m-0 text-center break-words bg-gray-200 border-b border-l border-solid cursor-pointer border-stone-500 text-neutral-700 leading-[49px]">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="24" width="24" xmlns="http://www.w3.org/2000/svg" data-windy-selected="rWJzU8_pzwbD6DjYiZBJT"><path d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"></path></svg>
            </button>
            <ul class="flex justify-between pl-0 my-0 font-mono uppercase list-none leading-[49px]">
              <li class="relative font-mono text-left uppercase whitespace-nowrap break-words bg-gray-200 cursor-default text-neutral-700 leading-[49px]">
                <button class="block py-0 px-6 m-0 w-full text-center whitespace-nowrap break-words border-b border-l border-solid border-stone-500 bg-inherit text-neutral-700 hover:cursor-pointer dark:hidden leading-[49px] h-full" title="Switch to dark mode">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" data-windy-selected="BeSWf1HmMz1JnzG0mJVpm"><path fill="none" d="M0 0h24v24H0z"></path><path d="M12 9c1.65 0 3 1.35 3 3s-1.35 3-3 3-3-1.35-3-3 1.35-3 3-3m0-2c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zM2 13h2c.55 0 1-.45 1-1s-.45-1-1-1H2c-.55 0-1 .45-1 1s.45 1 1 1zm18 0h2c.55 0 1-.45 1-1s-.45-1-1-1h-2c-.55 0-1 .45-1 1s.45 1 1 1zM11 2v2c0 .55.45 1 1 1s1-.45 1-1V2c0-.55-.45-1-1-1s-1 .45-1 1zm0 18v2c0 .55.45 1 1 1s1-.45 1-1v-2c0-.55-.45-1-1-1s-1 .45-1 1zM5.99 4.58a.996.996 0 00-1.41 0 .996.996 0 000 1.41l1.06 1.06c.39.39 1.03.39 1.41 0s.39-1.03 0-1.41L5.99 4.58zm12.37 12.37a.996.996 0 00-1.41 0 .996.996 0 000 1.41l1.06 1.06c.39.39 1.03.39 1.41 0a.996.996 0 000-1.41l-1.06-1.06zm1.06-10.96a.996.996 0 000-1.41.996.996 0 00-1.41 0l-1.06 1.06c-.39.39-.39 1.03 0 1.41s1.03.39 1.41 0l1.06-1.06zM7.05 18.36a.996.996 0 000-1.41.996.996 0 00-1.41 0l-1.06 1.06c-.39.39-.39 1.03 0 1.41s1.03.39 1.41 0l1.06-1.06z"></path></svg>
                </button>
                <button class="leading-[49px] dark:block hidden py-0 px-6 m-0 w-full text-center whitespace-nowrap break-words border-b border-l border-solid border-stone-500 bg-inherit text-neutral-700 h-full hover:cursor-pointer" title="Switch to light mode">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" color="rgba(255, 255, 255, 0.8)" style="color:rgba(255, 255, 255, 0.8)" height="24" width="24" xmlns="http://www.w3.org/2000/svg" data-windy-selected="iNdFoLzTH00N2tJ6yY8FR"><path fill="none" d="M0 0h24v24H0z"></path><path d="M9.37 5.51A7.35 7.35 0 009.1 7.5c0 4.08 3.32 7.4 7.4 7.4.68 0 1.35-.09 1.99-.27A7.014 7.014 0 0112 19c-3.86 0-7-3.14-7-7 0-2.93 1.81-5.45 4.37-6.49zM12 3a9 9 0 109 9c0-.46-.04-.92-.1-1.36a5.389 5.389 0 01-4.4 2.26 5.403 5.403 0 01-3.14-9.8c-.44-.06-.9-.1-1.36-.1z"></path></svg>
                </button>
              </li>
              <li class="relative font-mono text-left uppercase whitespace-nowrap break-words bg-gray-200 cursor-default text-neutral-700 leading-[49px]">
                <%= link_to "Get Started", "#", class: "block py-0 px-6 w-full font-mono text-left uppercase whitespace-nowrap break-words border-b border-l border-solid cursor-pointer border-stone-500 text-neutral-700 hover:opacity-70" %>
              </li>
              <li class="relative font-mono text-left uppercase whitespace-nowrap break-words bg-gray-200 cursor-default text-neutral-700 leading-[49px]">
                <%= link_to "Posts", "#", class: "block py-0 px-6 w-full font-mono text-left uppercase whitespace-nowrap break-words border-b border-l border-solid cursor-pointer border-stone-500 text-neutral-700 hover:opacity-70" %>
              </li>
              <li class="relative font-mono text-left uppercase whitespace-nowrap break-words bg-gray-200 cursor-default text-neutral-700 leading-[49px]">
                <%= link_to "Guilds", "#", class: "block py-0 px-6 w-full font-mono text-left uppercase whitespace-nowrap break-words border-b border-l border-solid cursor-pointer border-stone-500 text-neutral-700 hover:opacity-70" %>
              </li>
              <li class="relative font-mono text-left uppercase whitespace-nowrap break-words bg-gray-200 cursor-default text-neutral-700 leading-[49px]">
                <%= link_to "About", "#", class: "block py-0 px-6 w-full font-mono text-left uppercase whitespace-nowrap break-words border-b border-l border-solid cursor-pointer border-stone-500 text-neutral-700 hover:opacity-70" %>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="m-0 leading-6 text-black break-words cursor-default">
        <div class="py-0 px-6 h-12 font-mono text-xs text-red-200 uppercase break-words border-b border-l border-solid cursor-default border-stone-500 leading-[49px]">
        </div>
        <header class="hero overflow-clip relative leading-6 text-black break-words border-b border-l border-solid cursor-default border-stone-500 h-[500px] bg-hero bg-cover bg-center bg-no-repeat">
          <div class="flex flex-col relative items-center py-0 pr-6 -mt-px font-mono text-pink-400 break-words border-pink-400 cursor-default min-h-[50px] justify-start z-[5] text-[40px] leading-[150px] h-full">
            <h1>Every Lyric Tells a Story. What's Yours?</h1>
          </div>
          <p class="flex relative items-center py-0 px-6 m-0 leading-6 break-words cursor-default text-neutral-700 h-[300px] max-w-[600px] z-[1]">
          </p>
        </header>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
